/* ----- GLOBAL STYLES ----- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(214,0,0,0.12107623318385652) 0%, rgba(255,255,255,0) 100%);
    height: 100%;
    background-repeat: no-repeat;
}

h1, h2 { 
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
    font-weight: 800;
} 

h3, h4, p, label {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}


/* ----- MAIN PAGE AND FORM STYLES ----- */
section {
    padding: 10px 20px;
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.search-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 26px 0px;
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #fb8077;
    input[type="text"] {
        padding: 8px 16px;
        -webkit-appearance: none;
        border-color: #e4685d;
        border-radius: 6px;
        font-family: 'Montserrat', sans-serif;   
    }
    input[type="submit"] {
        margin-left: 8px;
        padding: 8px 16px;
        box-shadow:inset 0px 39px 0px -24px #df6057;
        background-color:#d3584c;
        border-radius:4px;
        border:1px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size:15px;
        padding:6px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #b23e35;
        &:hover {
            background-color:#fc5f54;
        box-shadow:inset 0px 39px 0px -24px #fc5f54;

        }
    }
    select {
        margin: 0 8px;
        border-radius: 6px;
        font-family: 'Montserrat', sans-serif;
        color: #60666d;
        padding: 8px 16px;
        border-color: #b34a41;
        border-width: 2px;
    }
}

.recipe {
    h3 {
        color:#5d231f;
    }
    p {
        color: black;
        font-size: 13px;
        line-height: 1;
    } 
}
